/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  color: #33475b;
}

section{
  /* debug */
  min-height: 100px;
  /* end debug */
}

a{
  text-decoration: none;
  color: #33475b;
  font-size: 18px;
  font-weight: bold;
}

h2{
  font-size: 32px;
}

h3{
  padding: 5px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 13px;
}

h6{
  font-size: 12px;
  max-width: 50%;
}

p{
  font-size: 18px;
  line-height: 1.5em;
}

span{
  font-size: 13px;
}

button:hover{
  cursor: pointer;
}

.container{
  padding: 0 18%;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* REGOLE HEADER */



/* TEST DROPDOWN MENU */

.dropdown{
  display: inline-block;
}

.dropdown-content{
  display: none;
}

.dropdown:hover .dropdown-content{
  display: block;
}


.nav-login{
  background-color: #F5F8FA;
  border-bottom: 1px solid #cbd6e2;
  padding: 0 18%;
  height: 86px;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
}

.language-selector{
  float: left;
  padding: 20px 0;
  font-size: 14px;
}

.language-selector img{
  height: 25px;
  margin-top: 5px;
  margin-right: 10px;
}

.language-selector h3:nth-child(2){
  border-right: 2px solid #cbd6e2;
  padding-right: 10px;
}

/* .language-selector *{
  display: inline-block;
} */

.barra-login{
  float: right;
  text-align: right;
  padding: 20px 0;
}

.lente{
  height: 20px;
  margin: 10px;
}

button{
  vertical-align: middle;
}

.btn-white{
  height: 45px;
  width: 105px;
  color: #ff7a59;
  background-color: #fff;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  margin: 0 5px;
}

.btn-white:hover{
  background-color: #fff1ee;
}

.btn-orange{
  height: 45px;
  width: 140px;
  color: #fff;
  background-color: #ff7a59;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 5px;
}

.btn-orange:hover{
  background-color: #ffbcac;
}

.btn-orange-big:hover{
  background-color: #ffbcac;
}

header img{
  float: left;
}

.nav-main{
  padding: 0 18%;
  margin-top: 86px;
}

.nav-main img{
  margin-top: 25px;
}

.nav-main ul{
  float: right;
  padding: 20px 0;
  margin-top: 10px;
}

.nav-main li{
  display: inline-block;
  margin: 0 30px;
}

/* REGOLE JUMBOTRON */
#jumbotron{
  background-image: url(img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 750px;
  border-bottom: 5px solid #33475b;
}

.titolo{
  width: 40%;
  padding-top: 100px;
}

h1{
  font-size: 46px;
  margin-bottom: 40px;
}

.btn-orange-big{
  font-size: 18px;
  height: 70px;
  width: 205px;
  color: #fff;
  background-color: #ff7a59;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 20px 0;
}

/* REGOLE SEZIONE INFO PRINCIPALI */
#info-principali{
  background-color: #F5F8FA;
  padding-bottom: 100px;
}

.info-powerful{
  text-align: center;
  margin: auto;
  padding: 100px;
}

.info-powerful h2{
  padding: 20px 0;
}

img[alt="dado"]{
  height: 200px;
}

.info-free{
  margin: 10px 0;
  background-color: #fff;
  padding: 50px;
}

.ingrandisci:hover{
  transform: scale(1.05);
}

.colonna-stretta{
  width: 30%;
  float: left;
  text-align: center;
}

img[alt="book"]{
  height: 150px;
  margin-bottom: 20px;
}

.colonna-larga{
  width: 70%;
  float: left;
}

.p-small{
  font-size: 14px;
  line-height: normal;
  margin: 20px 0;
}

.colonna-larga h5{
  margin: 20px 0;
}

.check{
  height: 15px;
  margin: 0 5px;
}

.info-hub{
  margin: 30px 0;
}

.colonna-a-tre{
  background-color: #fff;
  padding: 30px;
  width: 30%;
  float: left;
}

.centra{
  text-align: center;
}

.centra-margin{
  margin: 0 25%;
}

.colonna-a-tre:nth-child(2){
  margin: 0 5%;
}

.colonna-a-tre li{
  list-style: none;
  margin: 10px;
}

.colonna-a-tre h5{
  border-top: 1px solid #e0e6ed;
  padding: 20px 0;
}

.img-a-tre{
  height: 150px;
}

button[name=start]{
  margin-top: 20px;
}

/* REGOLE SEZIONE AWARD */
#award{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  color: #fff;
}

#award .container{
  padding-top: 150px;
  padding-bottom: 150px;
}

.award-top{
padding: 0 15%;
}

.award-top h2{
  margin-bottom: 20px;
}

.award-description{
  margin-bottom: 100px;
}

.box{
  height: 195px;
  width: 25%;
  float: left;
  padding-top: 35px;
  border-right: 1px solid #fff;
}

.box:last-child{
  border-right: none;
}

.box-title{
  font-size: 45px;
  font-weight: bold;
}

.box-top-row{
  border-bottom: 1px solid #fff;
}

.box-top-row:last-child{
  border-right: none;
}

/* REGOLE SEZIONE CUSTOMER */
#customer{
  background-color: #fff;
  padding-bottom: 100px;
}

.number{
  padding: 100px 0;
}

.bold{
  font-weight: bold;
  font-size: 18px;
}

.colonna-a-due{
  width: 50%;
  float: left;
}

.num-description{
  font-size: 18px;
  padding-right: 40%;
  padding-top: 20px;
}

.box-customer{
  width: 25%;
  float: left;
  padding: 20px;
}

.img-customer{
  width: 110px;
}

.grow{
  padding: 100px 0;
  background-image: url(img/grow-back.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35%;
}

.grow .colonna-a-due{
  padding-right: 5%;
}

.grow p{
  padding: 20px 0;
}

.grow button{
  margin: 20px 0;
}

.grow p:last-child{
  padding: 20px 0;
  font-size: 12px;
}

/* REGOLE GENERALI FOOTER */
footer{
  background-color: #33475B;
  line-height: 2.5em;
  font-weight: bold;
}

footer p{
  color: #cbd6e2;
  font-size: 12px;
}

footer a{
  color: #cbd6e2;
  font-size: 15px;
}

footer a:hover{
  color: #7fd1de;
}

footer li{
  list-style: none;
}


/* PRIMO BLOCCO FOOTER */
.box-footer{
  padding-top: 100px;
  width: 25%;
  float: left;
  color: #fff;
}

.btn-contact{
  width: 70%;
  height: 45px;
  margin: 10px 0;
  border-radius: 5px;
  border-style: none;
  color: #33475B;
}

.social li{
  display: inline-block;
}

.fab, .far{
  padding-right: 15px;
  font-size: 20px;
}

/* SECONDO BLOCCO FOOTER */
.lingue{
  padding: 30px 0;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #7c98b6;
}

.lingue li{
  display: inline-block;
  padding: 0 10px;
}


/* TERZO BLOCCO FOOTER */
.bottom-left{
  float: left;
}

.bottom-right{
  float: right;
}

.bottom-right a{
  padding: 0 20px;
  font-size: 18px;
}
