/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  /* debug */
  background-color: red;
  min-height: 100px;
  margin: 10px 0;
  /* end debug */
}

.container{
  padding: 0 10%;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* REGOLE HEADER */
header{
  /* debug */
  background-color: yellow;
  /* height: 200px; */
  /* end debug */
}

.nav-login{
  /* debug */
  background-color: orange;
  margin-bottom: 10px;
  /* end debug */
}

.nav-main{
  /* debug */
  background-color: orange;
  /* end debug */
}

.language-selector{
  /* debug */
  height: 50px;
  width: 40%;
  background-color: grey;
  /* end debug */
  float: left;
}

.barra-login{
  /* debug */
  height: 50px;
  width: 40%;
  background-color: grey;
  /* end debug */
  float: right;
}

header img{
  /* debug */
  background-color: grey;
  /* end debug */
  float: left;
}

.nav-main ul{
  /* debug */
  background-color: grey;
  height: 50px;
  width: 40%;
  /* end debug */
  float: right;
}


/* REGOLE JUMBOTRON */
.titolo{
  /* debug */
  background-color: grey;
  height: 250px;
  /* end debug */
  width: 30%;
}

/* REGOLE SEZIONE INFO PRINCIPALI */
.info-powerful{
  /* debug */
  background-color: grey;
  height: 250px;
  /* end debug */
}

.info-free{
  /* debug */
  background-color: grey;
  height: 250px;
  /* end debug */
  margin: 10px 0;
}

.info-hub{
  /* debug */
  background-color: grey;
  /* end debug */
  margin: 10px 0;
}

.colonna-a-tre{
  /* debug */
  background-color: pink;
  height: 350px;
  /* debug */
  width: 30%;
  float: left;
}

.colonna-a-tre:nth-child(2){
  margin: 0 5%;
}


/* REGOLE SEZIONE AWARD */
#award{
  background-color: lightblue;
}

.award-top{
  /* debug */
  background-color: grey;
  height: 100px;
  margin-bottom: 10px;
  /* end debug */
}

.box-container{
  /* debug */
  background-color: grey;
  /* end debug */
}

.box{
  /* debug */
  background-color: pink;
  height: 150px;
  border: 1px solid black;
  /* end debug */
  width: 25%;
  float: left;
}

/* REGOLE SEZIONE CUSTOMER */
.number{
  /* debug */
  background-color: grey;
  /* end debug */
}

.colonna-a-due{
  /* debug */
  height: 100px;
  background-color: pink;
  border: 1px solid white;
  /* end debug */
  width: 50%;
  float: left;
}

.grow{
  .number{
    /* debug */
    background-color: grey;
    /* end debug */
  }
}

/* REGOLE FOOTER */
footer{
  background-color: green;
}

.bottom-left{
  /* debug */
  height: 50px;
  background-color: pink;
  border: 1px solid white;
  /* end debug */
  width: 20%;
  float: left;
}

.bottom-right{
  /* debug */
  height: 50px;
  background-color: pink;
  border: 1px solid white;
  /* end debug */
  width: 20%;
  float: right;
}
